# Firebase Admin SDK Service Account Key dosya yolu
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

# Firebase Storage Bucket adı
FIREBASE_STORAGE_BUCKET=ecocell-5cf22.firebasestorage.app

# İzlenecek Excel dosyalarının yolları
# Örnek network yolu: \\\\SUNUCU\\Paylaşım\\Stok.xlsx
# Örnek lokal yol: C:\\Sirket\\Excel\\Stok.xlsx
STOCK_FILE_PATH=
SALES_FILE_PATH=
SHIPPING_FILE_PATH=

# Log dosyası yolu
LOG_FILE_PATH=./logs/watcher.log
